.header-container {
  background-color: #f9f871;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  height: 10vh;
}

.logo-container {
  font-weight: bolder;
  margin-left: 3%;
}

.nav-links {
  display: flex;
  margin-right: 3%;
}

.nav-links h2 {
  margin-left: 30px;
}
